<div id="top" class="leagueform">
  <form style="color:#fff" class="form-horizontal" name="addMatch">
      <div style="margin-top: 50px">
        <div class="playerOverflow" style="color:black">
          <table class="table table-bordered">
            <thead>
              <tr style="background: #333333; color:white">
                <th style="width: 150px;">Date</th>
                <th style="width: 250px;">Teams</th>
                <th>Location</th>
                <th style="width: 110px;">Remove Match</th>
              </tr>
            </thead>
            <tbody>
              <tr style="color:rgb(64, 64, 64)" class="pointer" ng-repeat='m in vm.allmatches track by $index' ng-class-odd="'odd'" ng-class-even="'even'">

                <th>{{m.date | date:"M/d hh:mma"}}</th>
                <th>{{m.t1name}} <em>vs.</em> {{m.t2name}}</th>
                <th>{{m.googleLocation.address}}</th>
                <th class="text-center"><span class='text-dangerpointer' ng-click='vm.removeMatch($index)'>X</span></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>


      <!-- Weeks -->
      <div class="form-group">
        <label class="col-md-2 control-label"></label>  
      </div>

      <!-- Select Teams -->
      <div class="col-md-12">
        <div class="col-md-5">
          <div class="form-group">
            <label class="col-md-2 control-label">Team 1</label>
            <div class="col-md-10">
              <select name="team1" ng-model='vm.match.team1' class="form-control" required>
                <option ng-repeat="teams in vm.adminLeague.teams" value="{{teams._id}}">{{teams.name}}</option>
              </select>
              <p>{{teams}}</p>
            </div>
          </div>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-1">VS.</div>

        <div class="col-md-5">
          <div class="form-group">
            <label class="col-md-2 control-label">Team 2</label>
            <div class="col-md-10">
              <select name="team2" ng-model='vm.match.team2' class="form-control" required>
                <option ng-repeat="teams in vm.adminLeague.teams" value="{{teams._id}}">{{teams.name}}</option>
              </select>
              <p>{{vm.adminLeague.teams2.name}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Date and Time</label>  
        <div class="col-md-8">
          <input ng-model='vm.match.date'  type="datetime-local" class="nameinput">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Match Location</label>
        <div class="col-md-10" id="gmapsearchbox"> 
          <script type="text/ng-template" id="searchbox.tpl.html">
            <input id='address' class='nameinput' type="text" placeholder="Search Box">
          </script>               
        </div>
      </div>




      <!-- Google Maps____ -->
      <!-- parentdiv="searchBox.parentdiv" -->


      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-search-box template="searchbox.template" events="searchbox.events" parentdiv="searchbox.parentDiv"></ui-gmap-search-box>
      <ui-gmap-marker options="{ draggable: true }" idKey='1' coords='marker' >
    </ui-gmap-marker>
  </ui-gmap-google-map>


  <a href="#/admin/manager/addMatch/#top" ng-click='vm.addMatch(vm.match)' style="margin-top:50px;" class="btn btn-info btn-block">Add Match</a>


  <label class="col-md-3 control-label"></label>
  <div class="col-md-7">                     
    <a ng-disabled="addMatch.team1 === addMatch.team2" style=" margin-top: 15px" class="btn btn-success btn-block" ng-click='vm.createMatch(vm.allmatches)'>Submit Week</a>
  </div>
</form>
</div>