
<div class="leagueform">
  <form style="color:#fff" class="form-horizontal" name="addMatch" ng-submit='vm.createMatch()'>
    <fieldset>

      <!-- Weeks -->
      <div class="form-group">
        <label class="col-md-2 control-label">Weeks {{vm.adminLeague.weeks.length}} </label>  
        <div class="col-md-10">
          <input type="text" class="nameinput" ng-model='vm.league.name' placeholder="League name" required>
        </div>
      </div>

      <!-- Select Teams -->
      <div class="col-md-12">
        <div class="col-md-5">
          <div class="form-group">
            <label class="col-md-2 control-label">Team 1</label>
            <div class="col-md-10">
              <div ng-repeat="teams in vm.league">
                {{team.team}}
              </div>
              <select name="team1" ng-model='vm.adminLeague.teams1' ng-options="teams for team in vm.adminLeague.teams" ng-class="form-control" required>
              </select>
              <p>{{vm.adminLeague.teams1.name}}</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-1"></div>
        <div class="col-md-1">VS.</div>

        <div class="col-md-5">
          <div class="form-group">
            <label class="col-md-2 control-label">Team 2</label>
            <div class="col-md-10">
              <select name="team2" ng-model='vm.adminLeague.teams2' ng-options="teams for team in vm.adminLeague.teams" class="form-control" required>
              </select>
              <p>{{vm.adminLeague.teams2.name}}</p>
            </div>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-2 control-label">Match Location</label>
        <div class="col-md-10">                     
          <input class="nameinput" placeholder='Enter Location..' type="text">
        </div>
      </div>

      <!-- ______________________Google Maps__________________________ -->



      <a ng-click='vm.getLocation()' class="btn btn-lg">Get location</a>
      <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
      <ui-gmap-marker options="{ draggable: true }" idKey='1' coords='vm.marker' >
    </ui-gmap-marker>
  </ui-gmap-google-map>



  <label class="col-md-3 control-label"></label>
  <div class="col-md-7">                     
    <input ng-disabled="addMatch.team1 === addMatch.team2" style=" margin-top: 15px" class="btn btn-success btn-block" type="submit" value="Submit" />
  </div>
</fieldset>
</form>
</div>


