<h1>Post An Article</h1>
<div ng-controller="NewsletterController as vm">
	<div class="well container">
		<form name="createArticle" ng-submit="vm.postNewsletter()">
			<div style="float: left;">
				<label>Newsletter Title:</label><br>
				<input name="title" style="width: 250px;" type="text" ng-model="vm.newsletter.title" required>
			</div>
			<div style="margin-left: 200px; float: left;">
				<label>Link An Image:</label><br>
				<input name="picture" style="width: 250px;" type="text" ng-model="vm.newsletter.image"/>
			</div>
			<div style="clear: both;">
				<label>Write Your Article Below</label><br>
				<textarea name="article" style="width: 400px; height: 300px;" ng-bind-html="articleBody" ng-model="vm.newsletter.body" type="text" class="" required></textarea>
			</div><br>
			<button ng-disabled="createArticle.title.$invalid || createArticle.article.$invalid" class="btn btn-md btn-success" type="submit">Post Article</button>
			<button ng-click="vm.exampleModal()" ng-show="createArticle.article.$dirty" type="button" class="btn btn-md btn-danger">Cancel</button><!--this leads to Drafts modal -->
			<!--<button ng-click="vm.draftRequest(vm.newsletter)" ng-show="createArticle.article.$dirty" type="button" class="btn btn-md btn-danger">Cancel</button> -->
			<button ui-sref='Admin' ng-hide="createArticle.article.$dirty"type="button" class="btn btn-md btn-danger">Cancel</button>

		</form>
	</div>
</div>
<!-- fix bringing over the body property to the edit field-->