<div class="leagueform">
  <fieldset>
    <div ng-repeat="w in vm.adminLeague.weeks track by $index">
      <a ng-click="vm.matchesInWeek(w._id)" style="font-size: 2em" class="text-center">Week - {{$index + 1}}</a>
      <div class="playerOverflow" style="color:black">
        <table class="table table-bordered">
          <thead>
            <tr style="background: #333333; color:white">
              <th style="width: 150px;">Date</th>
              <th>Teams</th>
              <th style="width: 150px;">Score</th>
            </tr>
          </thead>
          <tbody>
            <tr style="color:rgb(64, 64, 64)" class="pointer" ng-repeat='m in w.matches track by $index' ng-class-odd="'odd'" ng-class-even="'even'">
              <th>{{m.date | date:"M/d hh:mma"}}</th>
              <th>{{m.team1.name}} <em>vs.</em> {{m.team2.name}}</th>
              <form>
                <th><input style="width: 50px" type="number"/>{{m.team1score}} - <input style="width: 50px" type="number"/>{{m.team2score}}</th>
              </form>
            </tr>
          </tbody>
        </table>
      </div>
    </div><br>
  </fieldset>
</div>