<div class="leagueform">

<form style="color:#fff" class="form-horizontal" >
  <fieldset>


      <!-- Form Name -->
      <legend style="color:white">Create a League</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-2 control-label">Name </label>  
        <div class="col-md-10">
          <input type="text" class="nameinput" ng-model='vm.league.name' placeholder="League name" required>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-2 control-label">Divisions</label>
        <div class="col-md-10">
          <select ng-model='vm.league.division' class="form-control" required>
            <option value="U5">U5</option>
            <option value="U6">U6</option>
            <option value="U7">U7</option>
            <option value="U8">U8</option>
            <option value="U9">U9</option>
            <option value="U10">U10</option>
            <option value="U11">U11</option>
            <option value="U12">U12</option>
            <option value="U13">U13</option>
            <option value="U14">U14</option>
            <option value="U15">U15</option>
            <option value="U16">U16</option>
            <option value="U17">U17</option>
            <option value="U18">U18</option>
            <option value="U19">U19</option>
          </select>
        </div>
      </div>

      <!-- Appended Input-->
      <div class="form-group">
        <label class="col-md-2 control-label">Features</label>
        <div class="col-md-10">
          <div class="input-group">
            <input type="text" class="appendinput" ng-model='vm.feature' placeholder="features">
            <span ng-click='vm.addFeature(vm.feature); vm.feature = ""' class="input-group-addon pointer">Add feature</span>

          </div>
          <div class="leagueOverflow col-md-12" style="padding-left:20px">
            <li ng-repeat='feature in vm.league.features track by $index'>{{feature}} 
              <span class='text-danger pointer' ng-click='vm.removeFeature($index)' >X</span></li>
            </div>
          </div>
        </div>

        <div class="leagueOverflow col-md-12" style="padding-left:20px">
        <li ng-repeat='feature in vm.league.features track by $index'>{{feature}} 
          <span class='text-danger pointer' ng-click='vm.removeFeature($index)' >X</span></li>
        </div>
      </div>
    </div>
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-2 control-label">Logo </label>  
      <div class="col-md-10">
        <input type="text" class="nameinput" ng-model='vm.league.logo' type="text" placeholder="url for now..">   
      </div>
    </div>
    <ng-form name="form">
      Single Image with validations
      <button class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="20MB" ngf-resize="{width: 600, height: 600}" THIS APPLIES MAX SIZE TO PHOTO ngf-min-height="100">Select</button>

      <!-- ngf-resize="{width: 100, height: 100}" THIS APPLIES MAX SIZE TO PHOTO-->

      Drop files:
      <div ngf-drop ng-model="files" class="drop-box">Drop</div>
      <button ng-click="submit()">submit</button>
    </ng-form>
    Image thumbnail:
    <img ngf-thumbnail="file || '/thumb.jpg'">

    <div style="margin: auto;" ng-show='vm.loading' layout='row' layout-sm='column' layout-align='space-around'>
      <md-progress-circular md-mode='indeterminate' md-diameter='80'></md-progress-circular>
    </div>


        <!-- Weeks -->
        <div class="form-group">
          <label class="col-md-2 control-label">Weeks In A Season</label>
          <div class="col-md-10">
            <a type="btn" class="btn btn-success btn-md"ng-click="vm.addWeek()"><span class="glyphicon glyphicon-plus"></span></a>
            <a type="btn" class="btn btn-danger btn-md"ng-click="vm.subtractWeek()"><span class="glyphicon glyphicon-minus"></span></a>
            <span style="font-size: 32px; padding-left: 10px;">{{vm.league.weeks.length}}</span>
            <!-- <div class="input-group">
              <input type="number" class="appendinput" ng-model='vm.league.weeks' placeholder="Weeks"/>
            </div> -->
          </div> 
        </div>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-2 control-label">Logo </label>  
          <div class="col-md-10">
            <input type="text" class="nameinput" ng-model='vm.league.logo' type="text" placeholder="url for now..">   
          </div>
        </div>

        <!-- Appended Input-->
        <div class="form-group">
          <label class="col-md-2 control-label">Images</label>
          <div class="col-md-10">
            <div class="input-group">
              <input type="text" class="appendinput" ng-model='vm.image' placeholder="images" type="text">
              <span ng-click='vm.addImage(vm.image); vm.image = ""' class="input-group-addon pointer">Add Image</span>
            </div>
            <div class="leagueOverflow col-md-12" style=" padding-top:10px;">
              <div class="col-md-2 nopadding" ng-repeat='image in vm.league.images track by $index'><img  width="105" height="95" ng-src="{{image}}">
                <div class="pointer" ng-click='vm.removeImage($index)'>
                  <span class="imgRemove">X</span>
                </div>
              </div>
            </div> 
          </div>  
        </div>

        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-2 control-label">League Description</label>
          <div class="col-md-10">                     
            <textarea ng-model='vm.league.description' class="wpcf7-form-control wpcf7-textarea" placeholder='what the league can offer' required></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">League Location</label>
          <div class="col-md-10">                     
            <input class="nameinput" placeholder='Enter Location..' type="text">
          </div>
        </div>

        <!-- ______________________Google Maps__________________________ -->



        <a ng-click='vm.getLocation()' class="btn btn-lg">Get location</a>
        <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
        <ui-gmap-marker options="{ draggable: true }" idKey='1' coords='vm.marker' >
      </ui-gmap-marker>
    </ui-gmap-google-map>



    <label class="col-md-3 control-label"></label>
    <div class="col-md-7">                     
      <input style=" margin-top: 15px" class="btn btn-success btn-block" type="submit" value="Submit" ng-click='vm.createLeague(vm.league)' />
    </div>
  </fieldset>
</form>
</div>


