<button ui-sref='Admin.League'>League form</button>
<button ui-sref='Admin.Team'>Team form</button>
<button ui-sref='Admin.Player'>Player form</button>
<div class="well">
	this will be a drop down!
	<ul> 
		<li>Logo:</li>
		<img width="120" height="120" ng-src="{{vm.league.logo}}">
		<li>Name: {{vm.league.name}}</li>
		<li>Division: {{vm.league.division}}</li>
		<li>About: {{vm.league.about}}</li>
		<li>features: </li>
		<ul>
			<div style="padding-left:20px">
				<li ng-repeat='feature in vm.league.features track by $index'>{{feature}} 
					<span class='text-danger pointer' ng-click='vm.removeFeature($index)' >X</span></li>
				</div>
			</ul>
			<li>Images: </li>
			<div class="row">
				<div class="col-md-2" ng-repeat='image in vm.league.images track by $index'><img  width="200" height="" ng-src="{{image}}">
					<button ng-click='vm.removeImage($index)' class="btn btn-danger" style="margin-left: 55px;margin-top: 10px;">Remove</button>
					<div>
					</div>
				</ul>
				
			</div>

			<div ui-view></div>