<h1>Post An Article</h1>
<div class="well container">
	<form name="createArticle" ng-submit="vm.postNewsletter()">
		<!-- <select ng-model="vm.newsletter.leagueName">
			<option value="league1">League1</option>
			<option value="league2">League2</option>
		</select><br> -->
		<label>Newsletter Title:</label><br>
		<input type="text" ng-model="vm.newsletter.title" required><br>
		<label type="text" ng-model="vm.newsletter.image"
		<label>Write Your Article Below</label><br>
		<textarea ng-bind-html="articleBody" ng-model="vm.newsletter.body" type="text" class="" required></textarea><br>
		<button class="btn btn-md btn-info" type="submit">Post Article</button>

	</form>
</div>

<div ng-repeat="n in vm.newsletters | orderBy: 'createdate': true">

	<h2>{{n.title}}</h2>
	{{n.username}} - {{n.created | date:"M/d/yyyy hh:mma"}}<br>
	<img ng-src="{{n.image}}" class="newsImage"/><br>
	<p class="well">
		{{n.body}}</p>
		<button class="btn btn-md btn-danger" ng-click="vm.deleteNewsletter(n)">Delete Newsletter</button>
		<button class="btn btn-md btn-warning" ng-click="vm.editBox = true">Edit Newsletter</button>
		<div ng-show="vm.editBox">
			<button class="btn btn-md btn-success" ng-click="vm.editNewsletter(n._id)">Submit Edit</button>
			<input class="form-control" style="width: 200px; margin-bottom: 10px;" ng-model="vm.edit.body" placeholder="Edit Article...">
			<button ng-click="vm.editBox=false" class="btn btn-lg btn-info">Cancel</button>
		</div>
	</div>


	image: String,
	leagueName: {type: mongoose.Schema.Types.ObjectId, ref: "League"},
	comments: [{type: mongoose.Schema.Types.ObjectId, ref: "Comments"}],
	username: {type: mongoose.Schema.Types.ObjectId, ref: "User"}