<h1>EDIT PROFILE</h1>

<form class="well container">
	<label>Your Name</label><br />
	<input class="form-control" placeholder="Your Name..." ng-model="vm.user.name" />

	<label>Profile Picture</label><br />
	<input class="form-control" placeholder="Profile Picture..." ng-model="vm.user.pic" />

	<label>About</label><br />
	<input class="form-control" placeholder="About..." ng-model="vm.user.bio" />

	<div style="text-align: center;">
		<button ng-click="vm.editProfile()">Finish Edit</button>
	</div>
</form>