<img id="homePic" src="http://2.bp.blogspot.com/-6n8PbOdfVSk/U9BOHMGdjhI/AAAAAAAACzM/rf3aaj5GBy0/s1600/soccer-wallpaper-best-soccer-player.jpg">

<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 nopadding">
			<h1>League Force</h1>
			<h3>Force Multiply your League</h3>
			<p>passion has it's place...</p>
			<div>
				<div class="col-md-3">
					<div class="thumbnail">
						<div class="caption">
							<h2>
								Who we are is What we Believe in.
							</h2>
							<p>
								We believe that Sports Values are not only basic to becoming an important player on your club team, high school team, or at the university level, but they are also essential to becoming a better classmate, workmate, and member of society.
							</p>
							<ul>
	<li><i class="fa fa-futbol-o"></i>EVERYDAY IS CHANCE TO GET BETTER</li>
	<li><i class="fa fa-futbol-o">Sports do not build Character. They REVEAL it.</i></li>
<li><i class="fa fa-futbol-o"></i>There is no glory in practice, but without practice there is no glory...</li>
	</ul>
							
				</div>
		</div>

	</div>
	<div class="col-md-3">
	<div class="thumbnail">
	<img alt="Bootstrap Thumbnail First" src="http://media.ussportscamps.com/assets/camps/soccer/slideshow/2013-nike-soccer-camps-5.jpg" />
						<div class="caption">
							<h3>
								TEAMWORK
							</h3>
							<p>
								We fully believe participants will discover that by learning these life skills they will become the strong leaders that teams and communities need, building character both on and off the field.
							</p>
							<p>
								<a class="button" href="#">Learn more</a>
							</p>
						</div>
					</div>
					
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail First" src="https://s-media-cache-ak0.pinimg.com/originals/8a/c1/18/8ac11801d3cd2a7fc326df92cccaa28a.jpg" />
						<div class="caption">
							<h3>
								SPORTSMANSHIP
							</h3>
							<p>
								It is not only soccer skills that will help the athlete develop a successful career but also values such as Effort, Sportsmanship, and Respect, which will play an important role in how they develop in life as members of society.
							</p>
							<p>
								<a class="button" href="#">Learn more</a>
							</p>
						</div>
					</div>
					
				</div>
				<div class="col-md-3">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail First" src="http://static5.businessinsider.com/image/4f3584c46bb3f70d4a00001c-480/college-soccer-player.jpg" />
						<div class="caption">
							<h3>
								EFFORT
							</h3>
							<p>
								Oh. You need a little dummy text for your mockup? How quaint.

I bet you’re still using Bootstrap too…<br>
Artisanal filler text for your site or project.
							</p>
							<p>
								<a class="button" href="#">Learn more</a>
							</p>
						</div>
					</div>
					
				</div>

			</div>
			

			<div class="col-md-12" style="border-top:solid 6px #e8eaeb; padding-top: 50px">
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail First" src="http://cdn.twitrcovers.com/wp-content/uploads/2014/07/Soccer-s.jpg" />
						<div class="caption">
							<h3>
								HIPSTER IPSUM
							</h3>
							<p>
								Cred Kickstarter butcher, shabby chic locavore pork belly vinyl kogi normcore American Apparel sartorial mlkshk. Fap meditation twee lomo, retro church-key authentic Tumblr cardigan. Banjo ethical polaroid mlkshk, lumbersexual shabby chic mixtape tousled. Beard tousled irony, mlkshk fashion axe wayfarers sriracha Schlitz. Pop-up photo booth 90's single-origin coffee, Echo Park +1 actually heirloom small batch messenger bag farm-to-table.
							</p>
							<p>
								<a class="button" href="#">Learn more</a>
							</p>
						</div>
					</div>
					
				</div>
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail First" src="http://thehottestwallpapers.com/wp-content/uploads/2014/04/adidas-soccer-wallpaper-hd-6550-wallpaper-wallmatic-139883-690x517.jpg" />
						<div class="caption">
							<h3>
								Hipster, neat.
							</h3>
							<p>
								Carles you probably haven't heard of them Odd Future. Austin asymmetrical typewriter, migas jean shorts bitters chia sriracha Godard keytar 90's 8-bit Thundercats literally Blue Bottle. Kale chips fanny pack pickled, Helvetica High Life craft beer VHS freegan bicycle rights pop-up try-hard.
							</p>
							<p>
								<a class="button" href="#">Learn more</a>
							</p>
						</div>
					</div>
					
				</div>
			</div>
			<br>
			<hr>
		</div>
	</div>
</div>

