<div ng-controller="HomeController as vm">
	<img id="homePic" src="http://2.bp.blogspot.com/-6n8PbOdfVSk/U9BOHMGdjhI/AAAAAAAACzM/rf3aaj5GBy0/s1600/soccer-wallpaper-best-soccer-player.jpg">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 nopadding">
			<h1>Title of soemthing</h1>
			<h3>Subtitle will go here</h3>
			<p>Random text will go here</p>
			<div>
				<div class="col-md-3">
					<div class="thumbnail">
						<div class="caption">
							<h2>
								Something here about thumbnails
							</h2>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<ul>
								<li>(small icon)Something about thumbnails</li>
								<li>(small icon)Something about thumbnails</li>
								<li>(small icon)Something about thumbnails</li>
							</ul>
							
						</div>
					</div>

			</div>
			<div class="col-md-3">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail First" src="http://static5.businessinsider.com/image/4f3584c46bb3f70d4a00001c-480/college-soccer-player.jpg" />
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								<a class="button" href="#">Learn more</a>
							</p>
						</div>
					</div>
					
			</div>
			<div class="col-md-3">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail First" src="http://static5.businessinsider.com/image/4f3584c46bb3f70d4a00001c-480/college-soccer-player.jpg" />
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								<a class="button" href="#">Learn more</a>
							</p>
						</div>
					</div>
					
			</div>
			<div class="col-md-3">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail First" src="http://static5.businessinsider.com/image/4f3584c46bb3f70d4a00001c-480/college-soccer-player.jpg" />
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								<a class="button" href="#">Learn more</a>
							</p>
						</div>
					</div>
					
			</div>

			</div>
			

			<div class="col-md-12" style="border-top:solid 6px #e8eaeb; padding-top: 50px">
				<div class="col-md-6">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg" />
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								<a class="button" href="#">Learn more</a>
							</p>
						</div>
					</div>
					
			</div>
			<div class="col-md-6">
					<div class="thumbnail">
						<img alt="Bootstrap Thumbnail First" src="http://lorempixel.com/output/people-q-c-600-200-1.jpg" />
						<div class="caption">
							<h3>
								Thumbnail label
							</h3>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
							<p>
								<a class="button" href="#">Learn more</a>
							</p>
						</div>
					</div>
					
			</div>
			</div>
			<br>
			<hr>
		</div>
	</div>
</div>

