<div class="well text-center">
	<h2>{{vm.userLoggedIn.name}}</h2>
	<strong>Email: </strong><p>{{vm.userLoggedIn.username}}</p>
	<strong>About: </strong><p>{{vm.userLoggedIn.bio}}</p>
	<strong>Name: </strong><p>{{vm.userLoggedIn.name}}</p>
	<strong>Profile Picture</strong>
	<p><img src="{{vm.userLoggedIn.facebook.photo}}" /></p>
	<p><img src="{{vm.userLoggedIn.google.photo}}" /></p>

</div>

<!-- Name: name
Username (email): username
images
bio: Is this the same as about
created: Date user created. Need to make sure that we are creating this on the backend.
leagueSubscribed:
teamSubscribed:
Comments:
inbox:
admin
league
-->
