<h1>Regular user register page</h1>
<button ng-click='nav.form2 = false' class="btn" ng-class="{'btn-primary' : !nav.form2, 'btn-default' : nav.form2} ">1</button>
<button ng-click='nav.form2 = true' class="btn" ng-class="{'btn-primary' : nav.form2, 'btn-default' : !nav.form2} ">2</button>

<form ng-show='!nav.form2' class="form-horizontal animated fadeIn" ng-submit="nav.form2 = true">
  <fieldset>

    <!-- Form Name -->
    <legend>Register</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Name</label>  
      <div class="col-md-4">
        <input type="text" placeholder="Name" class="form-control input-md" required ng-model="nav.user.name" />

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Email</label>  
      <div class="col-md-4">
        <input type="email" placeholder="Email" class="form-control input-md" ng-model="nav.user.username" required />
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Password</label>
      <div class="col-md-4">
        <input type="password" placeholder="password" class="form-control input-md" required ng-model="nav.user.password" required/>
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Confirm Password</label>
      <div class="col-md-4">
        <input type="password" placeholder="comfirm password" class="form-control input-md" required ng-model="nav.user.confirmPass" required/>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Cell/Tel. Number(optional)</label>  
      <div class="col-md-4">
        <input type="text" placeholder="Cell/Tel. Number..." class="form-control input-md" ng-model="nav.user.phone" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Admin</label>  
      <div class="col-md-4">
        <input style="width:40px" type="checkbox" class="form-control" ng-model="nav.user.admin" />
      </div>
    </div>

    <!-- File Button --> 
    <!-- <div class="form-group">
      <label class="col-md-4 control-label">Profile Pictures</label>
      <div class="col-md-4">
        <input id="" name="" class="input-file" type="file">
      </div>
    </div> -->

    <!-- Text input for link to profile pic -->

    <div class="form-group">
      <label class="col-md-4"></label>
      <div class="col-md-4 ">
        <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="!nav.user.name || !nav.user.username || !nav.user.password || !(nav.user.password === nav.user.confirmPass)">Continue</button>
      </div>
    </div>
  </fieldset>
</form>


<div ng-show='nav.form2' class="animated fadeIn">
<form class="form-horizontal" name='myForm'>
<div class="form-group">
        <label class="col-md-4 control-label">Profile Picture(optional)</label>
            <div class="col-md-4"> 

                 <!-- <input type="file" ngf-select ng-model="picFile" name="file"    
               accept="image/*" ngf-max-size="20MB"> -->
               
                <div ng-show='!picSubmitted' ng-hide='picFile' class="dropboxposition">
                  <div ngf-drop ngf-select  class="dropArea" ng-model="picFile" ngf-pattern="image/*" ngf-accept="image/*" ngf-max-size="20MB">
                    <i ng-show="myForm.file.$error.maxSize">File too large 
                      {{picFile.size / 1000000|number:1}}MB: max 20MB</i>
                    <div style="padding-top:40px"><i class="fa fa-file-image-o fa-5x"></i></div>
                    <br><br>
                    <span class='dropboxtext'>Drop Image or </span> <br>
                    <span class='dropboxtext'>click to upload</span>
                  </div>
               </div>
               <div ng-hide='picSubmitted'>
               <!-- class="{'animated': picSubmitted, 'fadeOut' : picSubmitted}" -->
                 <div ng-show='picFile' class="cropArea animated fadeIn">
                 <!-- ng-class="{'cropArea' : picFile, 'animated': picFile, 'fadeIn' : picFile}" -->
                  <img-crop image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
                    </img-crop>
                 </div>
               </div>
                <div style="col-md-5;margin-top: 20px; float:left">
                  <img width="120" height="120" ngf-src="picFile" class="img-circle">
                </div>
                <!-- <div class="background: rgba(255,255,255,0.5)">
                <a style="color:red" ng-show='picFile' ng-click="picFile = null; progressVisible = false;" ng-show="picFile">X</a>
                </div> -->
                <div style='margin-top:15px' class="col-md-7" ng-show='picFile'>
                <br>
                <a class="btn btn-default" ng-hide='picSubmitted'
                ng-click="progressVisible = true;upload(croppedDataUrl)">Upload Profile pic.</a>
                <br>
                <br>
                <a class="btn btn-danger" ng-click="picFile = null;progressVisible = false; picSubmitted = false">Remove pic.</a>
                </div>
                <br>
                <br>
                <div class= 'col-md-12' ng-show="progressVisible">
                  <div class="percent">{{progress}}%</div>
                  <div class="pg-bar">
                      <div class="uploaded progress-bar-striped" style="width: {{progress}}%"></div>
                  </div>
                </div>
          </div>
          </div>
          

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label">Bio(optional)</label>
      <div class="col-md-4">                     
        <textarea class="form-control" placeholder="Bio" class="form-control input-md" ng-model="nav.user.bio"></textarea>
      </div>
  </div>

    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">                     
        <button class="form-control" ng-click='nav.register()' >Register</button>
      </div>
  </div>
  </form>
</div>

