<h1>Regular user register page</h1>
<form class="form-horizontal" ng-submit="nav.register()">
  <fieldset>

    <!-- Form Name -->
    <legend>Register</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Name</label>  
      <div class="col-md-4">
        <input id="" name="" type="text" placeholder="Name" class="form-control input-md" required ng-model="nav.user.name" />

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Email</label>  
      <div class="col-md-4">
        <input id="" name="" type="email" placeholder="Email" class="form-control input-md" ng-model="nav.user.username" />
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Password</label>
      <div class="col-md-4">
        <input id="" name="" type="password" placeholder="password" class="form-control input-md" required ng-model="nav.user.password" />
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Confirm Password</label>
      <div class="col-md-4">
        <input id="" name="" type="password" placeholder="comfirm password" class="form-control input-md" required ng-model="nav.user.confirmPass" />

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Cell/Tel. Number(optional)</label>  
      <div class="col-md-4">
        <input id="" name="" type="text" placeholder="Cell/Tel. Number..." class="form-control input-md" ng-model="nav.user.phone" />

      </div>
    </div>

    <!-- File Button --> 
    <div class="form-group">
      <label class="col-md-4 control-label">Profile Pictures</label>
      <div class="col-md-4">
        <input id="" name="" class="input-file" type="file">
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label">About</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="" name="" ng-model="nav.user.bio"></textarea>
      </div>
    </div>

    <div>
      <button type="submit" class="btn btn-lg btn-success" ng-disabled="!nav.user.name || !nav.user.username || !nav.user.password || !(nav.user.password === nav.user.confirmPass)">Submit</button>
    </div>
  </fieldset>
</form>