<h1>Regular user register page</h1>
<form ng-show='!nav.form2' class="form-horizontal animated fadeIn" ng-submit="nav.register()">
  <fieldset>

    <!-- Form Name -->
    <legend>Register</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Name</label>  
      <div class="col-md-4">
        <input type="text" placeholder="Name" class="form-control input-md" required ng-model="nav.user.name" />

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Email</label>  
      <div class="col-md-4">
        <input type="email" placeholder="Email" class="form-control input-md" ng-model="nav.user.username" required />
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Password</label>
      <div class="col-md-4">
        <input type="password" placeholder="password" class="form-control input-md" required ng-model="nav.user.password" required/>
      </div>
    </div>

    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Confirm Password</label>
      <div class="col-md-4">
        <input type="password" placeholder="comfirm password" class="form-control input-md" required ng-model="nav.user.confirmPass" required/>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label">Cell/Tel. Number(optional)</label>  
      <div class="col-md-4">
        <input type="text" placeholder="Cell/Tel. Number..." class="form-control input-md" ng-model="nav.user.phone" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Admin</label>  
      <div class="col-md-4">
        <input style="width:40px" type="checkbox" class="form-control" ng-model="nav.user.admin" />
      </div>
    </div>
     <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label">Bio(optional)</label>
      <div class="col-md-4">                     
        <textarea class="form-control" placeholder="Bio" class="form-control input-md" ng-model="nav.user.bio"></textarea>
      </div>
  </div>

    <!-- Text input for link to profile pic -->

    <div class="form-group">
      <label class="col-md-4"></label>
      <div class="col-md-4 ">
        <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="!nav.user.name || !nav.user.username || !nav.user.password || !(nav.user.password === nav.user.confirmPass)">Continue</button>
      </div>
    </div>
  </fieldset>
</form>





