<h1>For testing</h1>

<!-- <div ng-controller="LeagueController as vm">
	<div class="col-md-6">
		<form class="well container col-sm-12" ng-submit="vm.createLeague()">
			<h3>Make A League</h3>
			<label>Name: </label>
			<input class="form-control" ng-model="vm.league.name" placeholder="Enter Name Here..." required/>
			<label>About</label>
			<input class="form-control" ng-model="vm.league.about" placeholder="Enter About Here..." required/><br>
			<button type="submit" class="btn btn-success btn-lg">Create League</button>
		</form>
	</div>
	<div style="clear: both;">
		<div class="well col-md-3" ng-repeat="l in vm.leagues | orderBy: 'createdate': true">
			<strong>{{l.name}}</strong> <br>{{l.about}}<br>
			<button ng-click="vm.editLeague({id: l._id})" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-cog"></span></button>
			<button class="btn btn-sm btn-danger" ng-click="vm.deleteLeague(l._id)"><span class="glyphicon glyphicon-remove"></span></button>
		</div>
	</div>
</div>

<div ng-controller="TeamController as vm">
	<div class="col-md-6">
		<form class="well container col-sm-12" ng-submit="vm.createTeam()">
			<h3>Make A Player</h3>
			<label>Name: </label>
			<input class="form-control" ng-model="vm.team.name" placeholder="Enter Name Here..." required/>
			<label>Position</label>
			<input class="form-control" ng-model="vm.team.coach" placeholder="Enter About Here..." required/><br>
			<button type="submit" class="btn btn-success btn-lg">Create League</button>
		</form>
	</div>

	<div style="clear: both;">
		<div class="well col-md-3" ng-repeat="p in vm.teams | orderBy: 'createdate': true">
			<strong>{{p.name}}</strong> <br>{{p.position}}<br>
			<button ng-click="vm.editLeague({id: p._id})" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-cog"></span></button>
			<button class="btn btn-sm btn-danger" ng-click="vm.deleteTeam(p._id)"><span class="glyphicon glyphicon-remove"></span></button>
		</div>
	</div>
</div> -->



<!-- <div class="card">
	<img class="card-img-top cardImage img-circle" src="https://pbs.twimg.com/media/CLx83ohUMAAStiN.jpg" alt="Card image cap">
	<div class="card-block">
		<h4 class="card-title">#17: Jose Medina</h4>
		<p class="card-text">Goalie.</p>
		<a href="#" class="btn btn-primary">Button</a>
	</div>
</div>

<div class="row">
	<div class="col-xs-18 col-sm-6 col-md-3">
		<div class="thumbnail cardImage">
			<img src="http://placehold.it/500x250/EEE">
			<div class="caption">
				<h4>Thumbnail label</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, soluta, eligendi doloribus sunt minus amet sit debitis repellat. Consectetur, culpa itaque odio similique suscipit</p>
				<a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-info btn-xs" role="button">Button</a> <a href="#" class="btn btn-default btn-xs" role="button">Button</a>
			</div>
		</div>
	</div>
</div> -->
<!--Above commented divs are for testing CRUD -->

<!-- <div id="card">
	<img class="img-circle" src="https://pbs.twimg.com/media/CLx83ohUMAAStiN.jpg"/>
	<h2>#17 - Jose Medina</h2>
	<p>Striker</p>
	<span class="left bottom"><button class="btn btn-danger btn-sm">Delete</button></span>
	<span class="right bottom"><button class="btn btn-warning btn-sm">Edit</button></span>
</div>
-->