nav {
	width: 100%;
	height: 80px;
	background: rgba(36, 36, 36, 1.0);
	z-index: 100;
}
nav a{
	text-decoration: none;
}
nav a:hover{
	text-decoration: none;
}
nav a:focus{
	text-decoration: none;
}


nav ul li {
	font: 13px Verdana, 'Lucida Grande';
	cursor: pointer;
	-webkit-transition: padding .05s linear;
	-moz-transition: padding .05s linear;
	-ms-transition: padding .05s linear;
	-o-transition: padding .05s linear;
	transition: padding .05s linear;
}
nav ul li.drop {
	position: relative;
}
nav ul > li {
	display: inline-block;
}
nav ul li a {
	line-height: 80px;
	padding: 0 20px;
	height: 80px;
	color: #777;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}
nav ul li a:hover {
	color: #e0e0e0;
}

nav .dropOut .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	top: -8px;
	left: 50%;
	margin-left: -8px;
}
nav .dropdownContain {
	width: 160px;
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -80px; /* half of width */
	top: -400px;
}
nav .dropOut {
	width: 160px;
	background: white;
	float: left;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

nav .dropOut ul {
	float: left;
	padding: 10px 0;
}
nav .dropOut ul li {
	border-bottom: solid 1px #e5e5e5;
	text-align: left;
	float: left;
	width: 125px;
	padding: 12px 0 10px 15px;
	margin: 0px 10px;
	color: #777;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-transition: background .1s ease-out;
	-moz-transition: background .1s ease-out;
	-ms-transition: background .1s ease-out;
	-o-transition: background .1s ease-out;
	transition: background .1s ease-out;
}

nav .dropOut ul li:hover {
	background: #f6f6f6;
}

ul li:hover a { color: white; }
ul li:hover .dropdownContain { top: 65px; }
ul li:hover .underline { border-bottom-color: #777; }
ul li:hover .dropOut { opacity: 1; margin-top: 8px; }

.mobile-nav-bar {
  background: #606060;
  min-height: 47px;
  width: 100%;
  position: relative;
  cursor: pointer;
  z-index: 20;
}
.mobile-nav-bar .mobile-nav-button {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  width: 31px;
  height: 30px;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.mobile-nav-bar .mobile-nav-button .bar {
  width: 100%;
  float: left;
  height: 4px;
  margin-bottom: 5px;
  background-color: white;
}
.mobile-nav-bar .mobile-nav-button .bar:last-of-type {
  margin-bottom: 0;
}

.mobile-nav {
  height: 0;
  z-index: 10;
}
.mobile-nav ul {
  z-index: 25;
  position: absolute;
  background-color: #333;
  width: 100%;
  margin: 0px;
  padding: 0px;
  transform: translate(0, -300px);
  -ms-transform: translate(0, -300px);
  -webkit-transform: translate(0, -300px);
  transition: all .2s ease-in-out;
}
.mobile-nav ul:hover{
	border-color: 
}
.mobile-nav ul li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  background: #222;
}
.mobile-nav ul li a:active {
  background: maroon;
}
.mobile-nav.show-mobile-nav {
  height: auto;
}
.mobile-nav.show-mobile-nav ul {
  transform: translate(0px);
  -ms-transform: translate(0px);
  -webkit-transform: translate(0px);
}
@media screen and (min-width: 769px) {
  #mobile { 
  	display: none; 
  	}   /* hide it elsewhere */
}
@media only screen and (min-width: 200px) and (max-width: 768px) {
 	.noDisplay {
       display: none !important;
   }
   #mobile{
   	display: block;
   }
}


