@import url(http://fonts.googleapis.com/css?family=Dosis:500|Abel|Poiret+One|Open+Sans|Montserrat);
* {
	padding: 0;
	margin: 0;
}
body 
{
	background: #fff;
}
#navHolder{
	width: 100%;
	height: 50px;
	background: #DBDBDB;
}
nav {
	width: 100%;
	height: 50px;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(17,17,17,1) 17%,rgba(28,28,28,1) 35%,rgba(35,35,35,1) 63%,rgba(43,43,43,1) 83%,rgba(51,51,51,1) 100%);
	position: absolute;
	top: 0;
}
nav li {
	display: inline-block;
	float: right;
}
nav a {
	text-decoration: none;
	font-family: 'Abel', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	color: #FF6801;
	line-height: 50px;
	width: 100px;
	height: 50px;
	float: right;
	text-align: center;
}
nav a:hover {
	text-decoration: none;
	font-family: 'Abel', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	line-height: 50px;
	width: 100px;
	height: 50px;
	background: #FF6801;
	float: right;
	text-align: center;
}
nav li.logo1 {
	display: inline-block;
	float: left;
}
nav a.logo {
	text-decoration: none;
	font-family: 'Dosis', sans-serif;
	font-size: 17px;
	text-transform: uppercase;
	color: #E8E8E8;
	line-height: 50px;
	width: 150px;
	height: 50px;
	float: left;
	text-align: center;
	background: #FF6801;
}
#homePic{
	height: 90vh;
	width: 100%;
}
.nopadding{
	padding: 0;
}
.thumbnail{
	border: none;
}
.thumbnail img{
	height: 150px;
	border: solid #E8EAEB;
}

.button{
	border: solid 2px #ff8432;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	line-height: 2.75em;
	padding: 0 1.65em;
	background-color: #FF6801;

}

.button:hover{
	background-color: #e0e0e0;
	text-decoration: none;
	color: #121212;
}
.pointer{
	cursor: pointer;
}