@import url(http://fonts.googleapis.com/css?family=Dosis:500|Abel|Poiret+One|Open+Sans|Montserrat);
* {
	padding: 0;
	margin: 0;
}
body {
	background: #fff;
}

#homePic {
	height: 90vh;
	width: 100%;
}

.nopadding{
	padding: 0;
}

.thumbnail{
	border: none;
}
.thumbnail img{
	height: 150px;
	border: solid #E8EAEB;
}

.button{
	border: solid 2px #ff8432;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	line-height: 2.75em;
	padding: 0 1.65em;
	background-color: #FF6801;

}

.button:hover{
	background-color: #e0e0e0;
	text-decoration: none;
	color: #121212;
}
.pointer{
	cursor: pointer;
}

/* NewsLetter and Comments */
.newsImage {
	height: 350px;
	position: relative;
	float: left;
}

.subjectLine {
	margin-left: 35px;
}

.leagueLogo {
	height: 25px;
	clear: both;
}

p.article {
	width: 50em; 
	word-wrap: break-word;
}


/* Codepen Player & Coach Cards */

body {
	margin: 0 auto;
	padding: 0;
}

.left {
	right: 65px;
}

.right {
	right: 15px;
}

.center {
	text-align: center;
}

.bottom {
	position: absolute;
	bottom: 15px;
}

#card {
	position: absolute;
	width: 300px;
	height: 100px;
	padding-left: 5px;
	padding-top: 0;
	padding-bottom: 0;
	left: 50%;
	top: 67.5px;
	margin-left: -250px;
	background: #E9E2D0;
	box-shadow: -20px 0 35px -25px black, 20px 0 35px -25px black;
	z-index: -1;
	/* make z-index stack more efficient or not needed if possible */
}

#card img {
	margin-top: 5px;
	width: 75px;
	height: 75px;
	float: left;
	/*border-radius: 25px 25px;*/
	margin-right: 10px;
}

#card p {

}

#card h2 {
	margin-top: 25px auto;
	padding: 0;
	font-size: 1em;
}