<div class="admin" style="padding-top:15px">
	<button class="homebtn" ui-sref='Admin.home' ng-click="vm.clearTeam();">Admin Home</button>
	<button class="homebtn" ng-show='vm.adminLeague' ui-sref='Admin.schedule'>League Schedule</button>
	<button class="homebtn" ng-show='!vm.adminLeague' ui-sref='Admin.league'>Create League</button>
	<button class="homebtn" ng-show='vm.adminLeague' ui-sref='Admin.newsletter'>Create Newsletter</button>
	<button class="homebtn" ng-show='vm.adminLeague' ui-sref='Admin.storedarticles'>Your Newsletters</button>
	<div ui-view></div>
</div>
