<div style="height:80px;width:100%"></div>
<div class="col-md-12" style="background-image: url(http://res.cloudinary.com/josemedina760/image/upload/c_scale,w_1529/v1445509294/soccerkid_bqgba8.jpg);background-attachment: fixed; background-size:cover">
<header id="head">
	<div class="container">
		<div class="row">
			<h1 class="lead">Embrace the Future of Sports Leagues</h1>
			<p ng-hide="nav.status.id" class="tagline"><a ui-sref="Login">Create Your League Today!</a></p>
			<p ng-show="nav.status.id" class="tagline"><a ui-sref="Admin.home">Create Your League Today!</a></p>
			<p><a class="btn btn-default btn-lg" ui-sref="Register" role="button">SIGN UP NOW!</a> <a class="button" ui-sref="Leagues" role="button">BROWSE LEAGUES</a></p>
		</div>
	</div>
</header>

<!-- /Header -->

<!-- Intro -->
<div style="background-color:white; padding-bottom:25px;" class="container-fluid text-center">
	<br> 
	<br>
	<h2 class="thin">What Is League Force?</h2>
	<p class="text-muted">
		A new, efficient, and practical way to manage your sports league online
	</p>
</div>
<!-- /Intro-->

<!-- Highlights - jumbotron -->
<div class="jumbotron">
	<div class="container">

		<h3 class="text-center thin">How Does It Work?</h3>

		<div class="row">
			<div class="col-md-3 col-sm-6 highlight">
				<div class="text-center h-caption"><h4><i class="fa fa-cogs fa-5"></i> Communicate</h4></div>
				<div class="h-body text-center">
					<p>Connect with players, coaches, parents, and league administrators with ease using our instant messaging system.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 highlight">
				<div class="text-center h-caption"><h4><i class="fa fa-thumbs-up fa-5"></i> The Right League For The Right Occasion</h4></div>
				<div class="h-body text-center">
					<p>Make a league that fits your needs, whether for casual competition between friends or a large-scale organization meant for hundreds of kids!</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 highlight">
				<div class="text-center h-caption"><h4><i class="fa fa-futbol-o fa-5"></i> Getting Started</h4></div>
				<div class="h-body text-center">
					<p>Create your league, add teams, schedule matches, and post newsletters within minutes! </p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 highlight">
				<div class="text-center h-caption"><h4><i class="fa fa-calendar fa-5"></i> Match Making System</h4></div>
				<div class="h-body text-center">
					<p>Easily schedule matches bewteen teams in your league, including the date and the location of the showdown!</p>
				</div>
			</div>
		</div> <!-- /row  -->

	</div>
</div>
<!-- /Highlights -->

<!-- container -->
<div style="background-color: #fff;padding-bottom:50px" class="container-fluid">

<br>
		<h6 class="text-center">Copyright © 2015. All Rights Reserved. Created at Coder Camps in Oakland, CA.</h6>
	</div>
</div>
