<div class="container">
	<div class="row">
		<div class="col-md-10">
			<div style="margin-top: 50px;">
				<div ng-repeat="n in vm.newsletters | orderBy: 'createdate': true" style="border-bottom: 2px solid #cecece;    padding: 5px 15px 30px 30px;" ng-class-odd="'lodd'" ng-class-even="'leven'">
					<h1 style="word-wrap: break-word;"><a ui-sref="SingleNewsletter({id: n._id})" ng-click="vm.getNews()">{{n.title}}</a></h1>
					<span style="font-size: .9em; color: gray;">Posted on 
						<a style="text-decoration: none;" ui-sref="SingleNewsletter({id: n._id})" ng-click="vm.getNews()">
						{{n.created | date:"M/d/yyyy hh:mma"}}
						</a> by 
						<a ui-sref="ViewProfile({id: n.user._id})">
						{{n.user.name}}
							<img class="img-circle" width="60" height="60" ng-src="{{n.user.pic}}">
						</a>
					</span>
					<div ng-show="n.image" style="margin-top:25px;">
						<img style="max-height:700px" class="img img-responsive" ng-src="{{n.image}}"/>
					</div>
					<p class="text-center" style="padding-top:20px">
					<button ng-show="n.comments.length > 0" class='btn btn-lg btn-info' ui-sref="SingleNewsletter({id: n._id})" ng-click="vm.getNews()">View All {{n.comments.length}} Comments</button>
					<button ui-sref="SingleNewsletter({id: n._id})" class="btn btn-primary btn-lg" ng-click="vm.getNews()">Read Article</button>
					</p>
					<br><br>
				</div>
			</div>
		</div>
	</div>
</div>