
<form ng-submit="nav.resetPassword()">

	<div class="form-group">
		<label style="padding-left:20%"s class="col-md-4">Password</label>
		<div class="col-md-4">
			<input class="form-control" type="password" placeholder="Password..." required ng-model="nav.user.password" />
		</div>
	</div>
	<br>
	<br>
	<div class="form-group">
		<label style="padding-left:20%" class="col-md-4">Confirm Password</label>
		<div class="col-md-4">
			<input class="form-control" type="password" placeholder="Confirm Password..." required ng-model="nav.user.confirmPass" />
		</div>
	</div>
	<br>
	<br>
	<div class="form-group">
		<label class="col-md-4"></label>
		<div class='col-md-4'>
			<button class='btn btn-success btn-block' type="submit" ng-disabled="!nav.user.password || !nav.user.confirmPass">Submit</button>
		</div>
		
	</div>
</form>