<div style="background-color:#e5e5e5">
<div class="container">
	<div class="row">
		<div class="col-md-12 nopadding" style="background-color:#ededed;border-left: solid 1px #d6d6d6;border-right: solid 1px #d6d6d6;">
			<div class="well"><h3>User Profile Settings</h3></div>

			<div class="col-md-3 profBox">
				<img class='img-responsive' ng-src="{{vm.prof.pic}}"/>
				<div>
				<button style="    margin-top: 10px;margin-left: 40px;" class="button responsive" ng-click='vm.editpic(vm.prof)'>
					<i class="fa fa-camera"> </i> Change Photo
				</button>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-1">
				<div style="padding-bottom:60px" class="profBox2">
					<div class="form-group">
				      <label class="col-md-3 control-label">Email</label>  
				      <div class="col-md-6">
				        {{vm.prof.username}}
				      </div>
				    </div>
				    <br>
					<div class="form-group">
				      <label class="col-md-3 control-label">Name</label>  
				      <div class="col-md-9">
				        <input type="text" class="form-control input-md" required ng-model="vm.prof.name" />
				      </div>
				    </div>
				    <br>
				    <br>
				    <div class="form-group">
				      <label class="col-md-3 control-label">Background</label>  
				      <div class="col-md-9">
				        <input placeholder='url' type="text" class="form-control input-md" ng-model="vm.prof.background" />
				      </div>
				    </div>
				    <br>
				    <br>
					<div class="form-group">
				      <label class="col-md-3 control-label">Bio</label>
				      <div class="col-md-9">                     
				        <textarea class="form-control" class="form-control input-md" ng-model="vm.prof.bio"></textarea>
				      </div>
				  </div>
					<br>
					<div class="form-group">
					<label class="col-md-7 control-label"></label>
					<div style="margin-top:10px;" class="col-md-5">                     
				        <a class="btn btn-success btn-block" ng-click='vm.editProfile(vm.prof)'>Save Changes</a>
				    </div>
				    </div>
					
				</div>
				<hr>
				<h2 style="text-align:center">Subscribed Leagues</h2>
				<div class="profLeague col-md-12">
						<div ng-repeat='l in vm.prof.leagueSubscribed track by $index'>
							<div class="col-md-4" style="height:200px">
								<img ui-sref="SingleLeague({id: l._id})" style="max-height:140px" class="img-responsive pointer" ng-src="{{l.logo}}">
								<p class="text-center text-info">{{l.name}}
								<br>
								<button ui-sref="SingleLeague({id: l._id})" class="text-center btn btn-info btn-sm">View League</button>
								<br>
								<button ng-click='vm.unsubscribe(l, $index)' class="text-center btn btn-danger btn-sm">Unsubscribe to League</button>
								</p>
							</div>	
						</div>
					</div>
				<div class="hr"></div>
				<h2 style="text-align:center">Comments</h2>
				<div class="profComments">
						<div ng-repeat="c in vm.prof.comments | orderBy: 'createdate': true">
							<p><strong>Your Comment on {{c.created | date:"M/d/yyyy hh:mma"}}</strong>: {{c.body}}</p>
							<h5><a ui-sref="SingleNewsletter({ id: c.news})">View Newsletter</a></h5>
							<hr>
						</div>
					</div>
				<div class="hr"></div>

			</div>

			
		</div>
	</div>
</div>
</div>

