<div style="background-attachment: fixed" ng-style="{'background-image': 'url(' + vm.league.background + ')' }">
	<div style="padding-top:120px; padding-bottom:35px">
		<div style='height:400px' class="adminHome">
			<div class="col-md-5 nopadding">
				<div style="height:325px; width:100%;">
					<img style="max-height:325px" class="img-responsive" ui-sref="Leagues" ng-src="{{vm.league.logo || nav.noLogo}}">
				</div>

			</div>

			<div class="col-md-7">
				<h4>Name: {{vm.league.name}}</h4>
				<h4>Divisions: {{vm.league.division}}</h4>
				<h4>Weeks: {{vm.league.weeks.length}}</h4>
				<h4>Location: {{vm.league.googleLocation.address}} </h4>
				<br><br><br>
				<div class="animated tada" ng-show='vm.subs' style="padding-left:20%;padding-right: 20%;">
					<button class="homebtn" style="width:100%" ng-click='vm.subscribe(vm.league._id)'>Subscribe</button>
				</div>
				<div class="animated tada" ng-show='vm.subbed' style="padding-left:20%;padding-right: 20%;">
					<h3 style="color:#7cc17a;text-align:center">**Currently subscribing**</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="teamBackground">
		<h1  class="teamh1">Teams</h1>
	</div>
	<div class="container-fluid" style="background-color:white; padding-bottom:50px">
		<div class="row"  style="padding-top:60px" class="leagueHome">
			<div ng-repeat="t in vm.league.teams track by $index" class="col-md-3">
				<div class="text-center">
					<div style="height:220px">
						<img style="max-height:200px" class="pointer img-responsive" ui-sref="TeamPage({id: t._id})" src="{{t.logo}}"/>
					</div>
					<h3><a style="text-decoration: none;" ui-sref="TeamPage({id: t._id})">{{t.name}}</a></h3>
					<button ui-sref="TeamPage({id: t._id})" class="btn btn-info btn-sm">View Team</button>
				</div>
			</div>
		</div>
	</div>

	<div class="teamBackground">
		<h1  class="teamh1">About Us</h1>
	</div>
	
	<div class="container-fluid" ng-show="vm.league.description">
		<!-- League Photos Carousel -->
		<div class="col-md-10 col-md-offset-1" style="background:#fff">
		<div style="margin-top: 40px;" class='col-md-10 col-md-offset-1 well'>
			<h2 style="font-size:58px;text-align:center;color:#337ab7;margin:0;">Description</h2>
		</div>
		<hr>
		<div class='col-md-8 col-md-offset-2'>
			<p style="text-align:center">{{vm.league.description}}</p>
		</div>
		
	<hr>

		<div style="margin-top: 40px;" class='col-md-10 col-md-offset-1 well'>
			<h2 style="font-size:58px;text-align:center;color:#337ab7;margin:0;">Images</h2>
		</div>
		<div class='col-md-12' style="margin-bottom:50px;">
			<hr>
			<carousel>
				<slide ng-repeat="i in vm.league.images track by $index" active="slide.active">
					<img class="img-responsive" style="width: 800px; height: 500px;" src="{{i}}">
				</slide>
			</carousel>
		</div>
		<hr>
		<div style="margin-top: 40px;" class="col-md-10 col-md-offset-1 well">
			<h2 style="font-size:45px;text-align:center;color:#337ab7;margin:0;">Location</h2>
			<p style="font-size:20px;text-align:center;color:#1c5787;margin:0;">{{vm.league.googleLocation.address}}</p>
		</div>
		<div class="col-md-8 col-md-offset-2" style="padding-bottom:50px">		
			<ui-gmap-google-map center='vm.league.coords' zoom='16'>
	          <ui-gmap-marker idKey='1' coords='vm.league.marker' >
				</ui-gmap-marker>
	      </ui-gmap-google-map>
		</div>
		</div>
	</div>
	</div>
</div>

<!-- ng-style="{'background-image': 'url(' + vm.league.background + ')' }" -->