<div style="background-attachment: fixed" ng-style="{'background-image': 'url(' + vm.league.background + ')' }">
	<div class="container" style="padding-top:100px;padding-bottom:100px">
		<div style="margin-top:40px" class="teamHome container-fluid">
			<div class="row">
				<div class="col-md-3 nopadding">
					<h6><a ui-sref="SingleLeague({id: vm.league._id})" style="text-decoration: none;">Back To League Page</a></h6>
					<img style="float: left; width: 400px; height: 180px;" class="img-responsive img-thumbnail" ng-src="{{vm.team.logo}}">
					<h3 style='clear: both;'>{{vm.team.name}}</h3>
				</div>
				<div class='col-md-1'></div>
				<div class="coachOverflowDisplay col-md-7" style="float: left;padding-top:10px;">
					<h4 style="position: absolute; color: white;">Coaches</h4><br><hr>
					<div ng-repeat='c in vm.team.teamMembers'>
						<div ng-hide='c.isPlayer' class="col-md-12" style=" border-bottom: solid 1px;padding-bottom: 15px;">
							<img style="float:left" class="img-circle" width="120" height="120" src="{{c.pic || nav.noLogo}}">
							<div class="col-md-12">
								<h4 style="color: white;">{{c.name}}</h4>
								<p style="color: white;"><i ng-show='c.isCoach'>Head Coach</i></p>
								<p style="color: white;"><i ng-hide='c.isCoach'>Coach</i></p>
								<p style="padding-left:10px; color: white;">{{c.bio | limitTo: 300}}{{c.bio.length > 300 ? '...' : ''}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="teamHome container-fluid">
			<!-- Schedule -->
			<div style="color:black">
				<h3 style="color: white">Schedule</h3>
				<table style="border: 3px solid #333333;" class="table table-bordered">
					<thead>
						<tr style="background: #333333; color:white">
							<th style="width: 150px;">Date</th>
							<th style="width: 250px;">Teams</th>
							<th>Location</th>
						</tr>
					</thead>
					<tbody ng-repeat='m in vm.schedule track by $index'>
						<tr ng-click='showMatch($index)' style="color:rgb(64, 64, 64)" class="pointer" ng-class-odd="'odd'" ng-class-even="'even'">
							<td>{{m.date | date:"M/d hh:mma"}}</td>
							<td>{{m.t1.name}}&nbsp <b>vs.</b> &nbsp{{m.t2.name}}</td>
							<td>{{m.googleLocation.address}}</td>
							<tr style="background-color: rgba(78, 79, 104, 0.8);">
								<td colspan="3">
									<div class="col-md-12">
										<div class="col-md-4" style="height:210px">
											<img width="200" height="200" class="img-circle" ng-src="{{m.t1.logo}}">
											<p class="text-center">{{m.t1.name}}</p>
										</div>
										<div class="col-md-2 col-md-offset-1" style="height:210px">
											<h2 class="leaguetxt nopadding">VS</h2>
										</div>
										<div class="col-md-4" style="height:210px">
											<img width="200" height="200" class="img-circle" ng-src="{{m.t2.logo}}">
											<p class="text-center">{{m.t2.name}}</p>
										</div>
									</div>
								</td>
							</tr>
						</tr>
					</tbody>
				</table>
				<div class="col-md-12">
					<ui-gmap-google-map center='vm.currentMatch.coords' zoom='16'>
			          <ui-gmap-marker idKey='1' coords='vm.currentMatch.marker' >
        				</ui-gmap-marker>
			      </ui-gmap-google-map>
				</div>
			</div>


			<!-- Players -->
			<div class="playerOverflow" style="color:black">
				<h3 style="color: white"><strong>{{vm.team.name}}</strong> Players</h3>
				<table class="table table-bordered">
					<thead>
						<tr class="text-center" style="background: #333333; color:white">
							<th class="text-center">Picture</th>
							<th class="text-center">Name</th>
							<th class="text-center">Number</th>
							<th class="text-center">Position</th>
							<th class="text-center">Date of Birth</th>
						</tr>
					</thead>
					<tbody>
						<tr style="color:rgb(64, 64, 64)" class="pointer" ng-repeat='p in vm.team.teamMembers track by $index' ng-class-odd="'odd'" ng-class-even="'even'" ng-show="p.isPlayer">
							<th class="text-center"><img width="60" height="60" ng-src="{{p.pic || nav.noPic}}"></th>
							<th class="text-center">{{p.name}}</th>
							<th class="text-center">{{p.teamNumber}}</th>
							<th class="text-center">{{p.position}}</th>
							<th class="text-center">{{p.dob | date:"M/d/yyyy"}}</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>




		<!-- Team Photos Carousel -->
		<div  style="padding-bottom: 50px;" class="teamHome container">
			<h1 class="text-center">Images</h1>
			<div class="row">
				<div class="col-md-12">	
					<carousel>
						<slide ng-repeat="i in vm.team.images track by $index" active="slide.active">
							<img class="img-responsive" style="width: 400px; height: 260px;" src="{{i}}">
						</slide>
					</carousel>
				</div>
			</div>
		</div>
	</div>
</div>
